html {
  font-family: "Arial", Helvetica, sans-serif;
}

hr {
  border: 1px solid lightgray;
}

.App {
  margin: 8px;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Filter {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

.link {
  padding: 10px;
  border: 2px solid lightgray;
  border-right: none;
}

#messages-link {
  border-right: 2px solid lightgray;
}

.Body {
  padding: 10px;
  display: flex;

}

.About {
  padding: 0px 16px;
  width: 240px;
  border: 2px solid lightgray;
}
